<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "User Login">
   <!--img class="responsive-img" src="https://static.pexels.com/photos/279701/pexels-photo-279701.jpeg"-->
<div class="container">
 
    <div class="row">
        <form class="col s12" method="POST" action="/user/login">
             <div class="card-panel hoverable small">
                   <h5 class="center-align">Login</h5>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" name="email">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate" name="password">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Login
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                
                <div class="col s6">
                  Not yet a user?  <a class="waves-effect waves-teal btn-flat" href="/form/register">Sign Up HERE</a>
                </div>
            </div>
                 </div>
        </form>
    </div>

</div>
</@layout.myLayout>