<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    


<div class="row">
    <div id="test3" class="col s12"> 
        <form action="/api/images/upload2" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col s12">

                    <div class="card">
                        <div class="card-image">
                            <img src="https://static.pexels.com/photos/279701/pexels-photo-279701.jpeg">
                            <span class="card-title">Add images to Vibanda</span>
                        </div>
                        <div class="card-content">
                            <p>Add one or more images to the currently defined Parent or unit. Define if you need the image to be a cover image or to be used as the parent image</p>

                            <div class="row">

                                <div class="file-field input-field col s10">
                                    <div class="waves-effect waves-light btn">
                                        <span>Select Image File</span>
                                        <input type="file" multiple name="unitImageFile">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="Upload one or more files" name="imageName">
                                    </div>
                                </div>
                                <div class=" input-field col s2">
                                    <label for="useAsParentImage">
                                        <input type="checkbox" id="useAsParentImage" name="useAsParentImage" >
                                        <span>Use as Parent Image</span>
                                    </label>
                                </div>

                            </div>
                            <div class="row">
                                <div class=" input-field col s10">
                                    <textarea id="imagedescription" class="materialize-textarea" name="imageDescription"></textarea>
                                    <label for="imageDescription">Image description</label>
                                </div>

                                <div class=" input-field col s2">
                                    <label for="coverImage">
                                        <input type="checkbox" id="coverImage" name="coverImage" >
                                        <span>Is Cover Image</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" input-field col s12">
                                    <select name="unitId" id="unitid">
                                        <option value="" disabled selected>Choose Unit</option>
                                        <#list units as unit>
                                        <option value="${unit.id}">${unit.unitHeading}</option>
                                        </#list>
                                    </select>
                                    <label>Select Unit</label>
                                </div>
                            </div>


                        </div>
                        <div class="card-action">
                            <button class="btn waves-effect waves-light right" type="submit" onclick="M.toast({html: 'Image Added'})">Upload Image
                                <i class="material-icons right">cloud_upload</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</@layout.myLayout>