<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page"> 

<div class="row">
    <#if (session.authenticateduser)??>

    <#if parents?has_content>
    <#list parents?chunk(2) as row> 
    <#list row as parent>  
    <div class="col s12 m6">
        <div class="card ">
            <div class="card-image  ">
                <#if parent.parentImages?has_content>
                <#list parent.parentImages as image>

                <img src="${image.imageUrl}">

                </#list>
                <#else>
                <img src="https://static.pexels.com/photos/279701/pexels-photo-279701.jpeg">
                </#if> 

                <span class="card-title">${parent.unitName}</span>
                <a class="activator btn-floating halfway-fab waves-effect waves-light red">
                    <i class="material-icons">add</i>
                </a>

            </div>
            <div class="card-content">
                <p class="truncate">${parent.style}</p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>${parent.propertyDescription}</p>

            </div>
        </div>
    </div>  
    </#list>
    </#list>
    </#if>

    </#if> 
</div>


</@layout.myLayout>