<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page"> 

  <div class="row">
    <div class="col s6 m6">
      <div class="card">
        <div class="card-image">
            <img src="https://static.pexels.com/photos/279701/pexels-photo-279701.jpeg">
          <span class="card-title">Card Title</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
          <div class="col s6 m6">
      <div class="card">
        <div class="card-image">
            <img src="https://static.pexels.com/photos/279701/pexels-photo-279701.jpeg">
          <span class="card-title">Card Title</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
  </div>
<div class="row">
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Card Title</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>  
</div>
<div id="test1" class="col s12">
    <form method="post" enctype="multipart/form-data" action="/api/parents/add" >
        <br>


        <div class="row">

            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a  class="active" href="#test1">Add Parent Unit</a></li>
                    <li class="tab col s3"><a  href="#test2">Add Rental Unit</a></li>
                    <li class="tab col s3"><a href="#test3">Add Images</a></li>
                </ul>
            </div>
            <div id="test1" class="col s12">
                <form method="post" enctype="multipart/form-data" action="/api/parents/add" >
                    <br>

                    <#include "parentUnit.ftl.html"/>

                </form>

            </div>
            <div id="test2" class="col s12">
                <form method="post" action="/api/units/add">
                    <#include "unit.ftl.html"/>
                </form>


            </div>
            <div id="test3" class="col s12"> 
                <#include "images.ftl.html"/>
            </div>

        </div>



    </form>

</div>



<!--div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
        <li><a class="btn-floating red" ><i class="material-icons">insert_chart</i></a></li>
        <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
        <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
        <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
</div-->

<!-- Form register -->
</@layout.myLayout>