<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    
<form method="post" action="/api/parents/add" >
    <div class="card-panel hoverable"> 
        <h5 class="center-align">Vibanda Parent Unit</h5>

        <div class="row">
            <div class="input-field col s4">

                <input type="text" id="unitname" class="form-control validate" name="unitName" >
                <label for="unitname" data-error="wrong" data-success="right">Property title</label>

            </div>

            <div class=" input-field col s4">
                <select id="style" name="style" >
                    <option value="" disabled selected>Best suited for</option>
                    <option value="FAMILY">FAMILY</option>
                    <option value="BEACH">BEACH</option>
                    <option value="ROMANTIC">ROMANTIC</option>
                    <option value="BUSINESS">BUSINESS</option>
                    <option value="SPORT">SPORT</option>
                </select>
            </div>
            <div class="input-field col s4">
                <select id="unittype" name="parentType">
                    <option value="" disabled selected>Property Type</option>
                    <option value="apartments">APARTMENT</option>
                    <option value="lodges">CONDO</option>
                    <option value="villas">VILLA</option>
                    <option value="cottage">COTTAGE</option>
                    <option value="guesthouses">GUESTHOUSE</option>
                    <option value="tent">TENT</option>
                    <option value="camp">CAMP</option>
                    <option value="bb">BED & BREAKFAST</option>
                    <option value="hostels">HOSTEL</option>
                    <option value="homestay">HOMESTAY</option>
                    <option value="mobile">MOBILE</option>
                    <option value="boat">BOAT</option>
                    <option value="castle">CASTLE</option>
                    <option value="farmhouse">FARM-HOUSE</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s10">
                <textarea id="propertydescription" class="materialize-textarea" name="propertydescription"></textarea>
                <label for="propertydescription">Description</label>
            </div>
            <div class="col s2">

                <input type="checkbox" id="eco" name="ecorated" >
                <label for="eco" >Eco-Rated</label>


            </div>
        </div>

        <h6>Location</h6>
        <div class="row">       
            <div class="input-field col s6">  
                <input type="text" id="street" class="validate" name="street" >
                <label for="street" data-error="wrong" data-success="right">Street</label>
            </div>
            <div class="input-field col s6">
                <input type="text" id="fulladdress" class="materialize-textarea" name="address" >
                <label for="fulladdress" class="">Number</label>
            </div>

        </div>
        <div class="row">
            <div class="input-field col s6">  
                <input type="text" id="city" class="validate" name="city" >
                <label for="city" data-error="wrong" data-success="right">City </label>
            </div>
            <div class="input-field col s6">
                <input type="text" id="county" class="validate" name="county" >
                <label for="county" data-error="wrong" data-success="right">County</label>
            </div>
        </div>
        <h6>Facilities</h6>
        <br/>
        <div class="row">
            <div class="col s3">

                <input type="checkbox" id="wifi" name="wifi" >
                <label for="wifi"> Internet/Wifi
                </label>
            </div>
            <div class="col s3">
                <input type="checkbox" id="cable" name="cable" >
                <label for="cable">   DSTV</label>
            </div>
            <div class="col s3">
                <input type="checkbox" id="fitnesscentre" name="fitnessCentre" >
                <label for="fitnesscentre">   <span>Gym</span>
                </label>
            </div>
            <div class="col s3">

                <input type="checkbox" id="swimmingpool" name="swimmingPool" >
                <label for="swimmingpool">    <span>Pool</span>
                </label>
            </div>
        </div> 
        <div class="row">

            <!--First column-->
            <div class="col s3">

                <input type="checkbox" id="laundry" name="laundry" >
                <label for="laundry">    <span>Laundry services</span>
                </label>

            </div>

            <!--Second column-->
            <div class="col s3">

                <input type="checkbox" id="wheelchairaccessibility" name="wheelchairAccessibility" >
                <label for="wheelchairaccessibility">    <span>Disabled access</span>
                </label>

            </div>

            <!--Third column-->
            <div class="col s3">

                <input type="checkbox" id="intercomfacilities" name="intercomFacilities" >
                <label for="intercomfacilities">     <span>Intercom system</span>
                </label>

            </div>
            <div class="col s3">

                <input type="checkbox" id="power_backup" name="powerBackup" >
                <label for="power_backup">      <span>Power Backup</span>
                </label>

            </div>

        </div> 

        <div class="row">

            <!--First column-->
            <div class="col s3">

                <input type="checkbox" id="perimeterWall" name="perimeterWall" >
                <label for="perimeterWall">      <span>Security parameter wall</span>
                </label>

            </div>

            <!--Second column-->
            <div class="col s3">

                <input type="checkbox" id="maindoorsecurity" name="mainDoorSecurity" >
                <label for="maindoorsecurity">    <span>Main Door Security</span>
                </label>

            </div>

            <!--Third column-->
            <div class="col s3">

                <input type="checkbox" id="lift" name="lift" >
                <label for="lift">        <span>Lift</span>
                </label>

            </div>
            <div class="col s3">

            </div>
        </div>  
        <div class="row">
            <div class="input-field col s4">
                <p class="range-field ">
                    <input type="range" id="total_floors" class="form-control" min="0" max="10"  name="numOfFloors" />
                </p>
                <label for="total_floors" class="">No. of Floors</label>
            </div>
            <div class="input-field col s4">
                <p class="range-field ">
                    <input type="range" id="number_of_Units" min="0" max="10"  class="form-control" name="numOfUnits" >
                </p>
                <label for="number_of_Units" class="">Number of Units</label>
            </div>

            <!--Third column-->
            <div class="input-field col s4">
                <label for="num_elevators" class="">No. of Elevators</label>
                <p class="range-field">
                    <input type="range" id="num_elevators" class="form-control" min="0" max="10" name="elevators"/>
                </p>
            </div>
        </div>     
        <h6>Whats available in the area?</h6>
        <div class="row">
            <div class="col s4">

                <input type="checkbox" id="hasschools" name="hasSchools" >
                <label for="hasschools">    <span>School</span></label>
            </div>

            <div class="col s4">

                <input type="checkbox" id="hasparks"  name="hasParks" >
                <label for="hasparks">    <span>Park</span></label>
            </div>

            <div class="col s4">
                <input type="checkbox" id="hasbanks" name="hasBanks" >
                <label for="hasbanks">    <span>Bank</span></label>
            </div>
        </div> 
        <div class="row">
            <div class="col s4">

                <input type="checkbox" id="grocery" name="hasGroceryStore" >
                <label for="grocery">    <span>Grocery store</span></label>
            </div>
            <div class="col s4">
                <input type="checkbox" id="publictransport" name="publicTransport" >
                <label for="publictransport">    <span>Public transport</span></label>
            </div>
            <div class="col s4">
                <input type="checkbox" id="airport" name="hasAirport" >
                <label for="airport">     <span>Airport</span></label>
            </div>
        </div> 
        <div class="row">
            <button class="btn waves-effect waves-light right" type="submit">Save
                <i class="material-icons right">add_circle</i>
            </button>
        </div>
    </div>


</form>
</@layout.myLayout>