<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page"> 
<div class="row">

    <div id="test2" class="col s12">
        <form method="post" action="/api/units/add">
            <div class="card-panel hoverable">
                <h5 class="center-align">Vibanda Unit</h5>
                <div class="row">
                    <div class="input-field col s6">
                        <select name="unitParent" id="unitparent">
                            <option value="" disabled selected>Unit belongs to: </option>
                            <#list data.parentUnits?keys as id>
                            <option value="${id}" class="circle" >${data.parentUnits[id].unitName}</option>
                            </#list>
                        </select>
                        <label>Parent property</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" id="uname" class="form-control validate" name="unitHeading">
                        <label for="uname" data-error="wrong" data-success="right">Unit Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">

                        <textarea id="unitDesc" class="materialize-textarea" name="unitDescription"></textarea>
                        <label for="unitDesc">Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s3">
                        <select id="unittype" name="unitType">
                            <option value="" disabled selected>Unit type</option>
                            <option value="junior">JUNIOR</option>
                            <option value="luxury">LUXURY</option>
                            <option value="loft">LOFT</option>
                            <option value="convertible">CONVERTIBLE</option>
                            <option value="studio">STUDIO</option>
                            <option value="duplex">DUPLEX</option>
                            <option value="triplex">TRIPLEX</option>
                            <option value="penthouse">PENTHOUSE</option>
                            <option value="garden">GARDEN</option>
                        </select>
                    </div>
                    <div class="input-field col s3">
                        <select id="privacy" name="privacy">
                            <option value="" disabled selected>Choose privacy</option>
                            <option value="Entire Home">ENTIRE HOME</option>
                            <option value="shared Room">SHARED ROOM</option>
                            <option value="Private Room">PRIVATE ROOM</option>
                        </select>
                    </div>
                    <div class="input-field col s3">
                        <select id="furnishingtype" name="furnishingType">
                            <option value="" disabled selected>Furnishing</option>
                            <option value="Fully Furnished">FULLY FURNISHED</option>
                            <option value="Semi Furnished">SEMI FURNISHED</option>
                        </select>
                    </div>
                    <div class="input-field col s3">
                        <select name="rentalType">
                            <option value="" disabled selected>Rental period</option>
                            <option value="long term">SHORT TERM</option>
                            <option value="short term">LONG TERM</option>
                        </select>
                    </div>

                </div>
                <div class="row">
                    <div class="range-field col s3">
                        <input type="range" id="unitNumber" min="0" max="100"  name="unitNumber">
                        <label for="unitNumber" >No. of units</label>
                    </div>
                    <div class="range-field col s3">
                        <div class="md-form">
                            <input type="range" min="0" max="100" id="beds"  name="beds">
                            <label for="beds">No. of beds</label>
                        </div>
                    </div>
                    <div class="range-field col s3">
                        <input type="range" min="0" max="25" id="numOfBedrooms"  name="numOfBedrooms">
                        <label for="numOfBedrooms" >Bedrooms</label>
                    </div>
                    <div class="range-field col s3">
                        <input type="range" min="0" max="25" id="numOfBathrooms"  name="numOfBathrooms">
                        <label for="numOfBathrooms" >Bathrooms</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s2">
                        <input type="checkbox" class="filled-in" id="activeunit" name="active">
                        <label for="activeunit">   Active </label>
                    </div>
                    <div class="range-field col s4">

                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <input placeholder="Date of posting" type="text" id="postdate" class="datepicker" name="postDate">
                    </div>
                    <div class="col s6">
                        <input placeholder="Date available" type="text" id="availdate" class="datepicker" name="availableFrom">
                    </div>
                    <div class="col s6">
                        <input type="text" class="timepicker" placeholder="Checkin time" id="checkintime" name="checkinTime">
                    </div>
                    <div class="col s6">
                        <input placeholder="Checkout time" type="text" id="checkoutime" class="timepicker" name="checkouTime">
                    </div>
                </div>

                <h6>Amenities</h6>  
                <div class="row">
                    <div class="col s3">
                        <input type="checkbox" class="filled-in" name="ac" id="hasAirConditioning">
                        <label for="hasAirConditioning">AC
                        </label>
                    </div>
                    <div class="col s3">
                        <input type="checkbox" class="filled-in" name="ensuite" id="hasEnsuiteBathroom">
                        <label for="hasEnsuiteBathroom">Ensuite bathroom
                        </label>
                    </div>
                    <div class="col s3">
                        <input type="checkbox" class="filled-in" name="carpet" id="carpet">
                        <label for="carpet">Carpet
                        </label>
                    </div>
                    <div class="col s3">
                        <input type="checkbox" class="filled-in" name="fireplace" id="fireplace">
                        <label for="fireplace">Fireplace
                        </label>
                    </div>
                </div>
                <div class="row">
                    <!--First column-->
                    <div class="col s3">
                        <input type="checkbox" class="filled-in" name="pets" id="petsAllowed">
                        <label for="petsAllowed"> Pets allowed 
                        </label>
                    </div>
                    <div class="col s3">
                        <input type="checkbox" class="filled-in" name="wardrobe" id="hasWalkinCloset">
                        <label for="hasWalkinCloset">Wardrobe
                        </label>
                    </div>
                    <div class="col s3">
                        <input type="checkbox" class="filled-in" name="breakfast" id="hasBreakfast">
                        <label for="hasBreakfast">Breakfast</label>
                    </div>
                    <div class="col s3">
                        <input type="checkbox" class="filled-in" name="garden" id="hasInUnitGarden">
                        <label for="hasInUnitGarden">Garden
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s3">
                        <input type="checkbox" class="filled-in" name="fan" id="hasCeilingFanCooling">
                        <label for="hasCeilingFanCooling">Ceiling Fan
                        </label>
                    </div>
                    <div class="col s3">
                        <input type="checkbox" class="filled-in" name="tv" id="hasTV">
                        <label for="hasTV">TV
                        </label>
                    </div>
                    <div class="col s3">
                        <input type="checkbox" class="filled-in" name="kitchen" id="hasKitchen">
                        <label for="hasKitchen"> Kitchen
                        </label>
                    </div>
                    <div class="col s3">
                        <input type="checkbox" class="filled-in" name="verandah" id="verandah">
                        <label for="verandah"> Verandah
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s3">
                        <input type="checkbox" class="filled-in" name="refridgerator" id="hasRefridgerator">
                        <label for="hasRefridgerator">Fridge</label>

                    </div>
                    <div class="col s3">

                        <input type="checkbox" class="filled-in" name="fireplace" id="hasFireplace">
                        <label for="hasFireplace">Fireplace
                        </label>
                    </div>
                    <div class="col s3">

                        <input type="checkbox" class="filled-in" name="dishwasher" id="hasDishwasher">
                        <label for="hasDishwasher">Dishwasher
                        </label>
                    </div>
                    <div class="col s3">

                        <input type="checkbox" class="filled-in" name="gym" id="hasInUnitGym">
                        <label for="hasInUnitGym"> In unit Gym
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s3">
                        <input type="checkbox" id="wifi" name="wifi" >
                        <label for="wifi"> Internet/Wifi
                        </label>
                    </div>
                    <div class="col s3">
                        <input type="checkbox" id="cable" name="cable" >
                        <label for="cable">Cable TV</label>
                    </div>
                    <div class="col s3">
                        <input type="checkbox" id="fitnesscentre" name="fitnesscentre" >
                        <label for="fitnesscentre">   
                            <span>Fitness Center</span>
                        </label>
                    </div>
                    <div class="col s3">
                        <input type="checkbox" id="swimmingpool" name="pool" >
                        <label for="swimmingpool">    
                            <span>Swimming Pool</span>
                        </label>
                    </div>
                </div> 
                <div class="row">
                    <div class="col s3">
                        <input type="checkbox" id="laundry" name="laundry" >
                        <label for="laundry">    
                            <span>Laundry services</span>
                        </label>
                    </div>
                    <div class="col s3">
                        <input type="checkbox" id="wheelchairaccessibility" name="accessibility" >
                        <label for="wheelchairaccessibility">    
                            <span>Disabled access</span>
                        </label>
                    </div>
                    <div class="col s3">
                        <input type="checkbox" id="intercomfacilities" name="intercom" >
                        <label for="intercomfacilities">     
                            <span>Intercom system</span>
                        </label>
                    </div>
                    <div class="col s3">
                        <input type="checkbox" id="power_backup" name="powerbackup" >
                        <label for="power_backup">      
                            <span>Power Backup</span>
                        </label>
                    </div>
                </div> 
                <div class="row">
                    <div class="col s3">
                        <input type="checkbox" id="gated" name="gated" >
                        <label for="gated">      
                            <span>Security parameter wall</span>
                        </label>
                    </div>
                    <div class="col s3">
                        <input type="checkbox" id="maindoorsecurity" name="maindoorsecurity" >
                        <label for="maindoorsecurity">
                            <span>Main door security</span>
                        </label>
                    </div>
                    <div class="col s3">
                        <input type="checkbox" id="lift" name="lift" >
                        <label for="lift"><span>Lift</span>
                        </label>
                    </div>
                    <div class="col s3">
                        <input type="checkbox" id="parking" name="parking" >
                        <label for="parking"><span>Parking available</span>
                        </label>
                    </div>
                </div> 

                <h6>Price Info</h6> 
                <div class="row">
                    <div class="range-field col s4">
                        <input type="range" id="shortTermRentalPrice" min="0" max="100"  name="shortTermRentalPrice"/>
                        <label for="shortTermRentalPrice" data-error="wrong" data-success="right">Short term rental price</label>
                    </div>
                    <div class="range-field col s4">
                        <input type="range" id="longTermRentalPrice" min="0" max="100" name="longTermRentalPrice"/>
                        <label for="longTermRentalPrice" data-error="wrong" data-success="right">Long term rental price</label>
                    </div>
                    <div class="range-field col s4">
                        <input type="range" name="childDiscount" min="0" max="100" id="childDiscount">
                        <label for="childDiscount">Child discount(%)</label>
                    </div>
                </div>
                <div class="row">
                    <div class="range-field col s4">
                        <input type="range" id="extraCharge" min="0" max="10000" name="extraCharge"/>
                        <label for="extraCharge" data-error="wrong" data-success="right">Per extra guest charge</label>
                    </div>
                    <div class="range-field col s4">
                        <input type="range" id="serviceFee" min="0" max="10000" name="serviceFee" />
                        <label for="serviceFee" data-error="wrong" data-success="right">Service fee</label>
                    </div>
                    <div class="range-field col s4">
                        <input type="range" id="securityDeposit" min="0" max="10000" name="securityDeposit"/>
                        <label for="securityDeposit" data-error="wrong" data-success="right">Security Deposit</label>
                    </div>
                </div>          
                <div class="row">

                    <div class="input-field col s3">
                        <select name="currencyType">
                            <option value="" disabled selected>Select Currency</option>
                            <option value="Dollars">USD</option>
                            <option value="Shillings">KSH</option>
                            <option value="Euros">EUR</option>
                        </select>
                    </div>  
                    <div class="col s9">

                        <label >Price include meals</label>
                        <div class="row">
                            <div class="col s4">
                                <p>
                                    <input class="with-gap" name="includeMeals" type="radio" id="bf" checked />
                                    <label for="bf">Breakfast</label>
                                </p>
                            </div>
                            <div class="col s4">
                                <p>
                                    <input class="with-gap" name="includeMeals" type="radio" id="hb" checked />
                                    <label for="hb">Half-board</label>
                                </p>
                            </div>
                            <div class="col s4">
                                <p>
                                    <input class="with-gap" name="includeMeals" type="radio" id="fb" checked />
                                    <label for="fb">Full-board</label>
                                </p>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="cancellationPolicy" class="materialize-textarea" name="cancellationPolicy" maxlength="1000"></textarea>
                        <label for="cancellationPolicy" >Cancellation Policy</label>
                    </div> 
                </div>

            </div>

            <!--div class="text-center">
                <button class="btn-floating peach-gradient btn-lg"  onclick="M.toast({html: 'I am a toast'})">Add</button>
            </div-->
            <button class="btn waves-effect waves-light right" type="submit" onclick="M.toast({html: '${data.msg!Added}'})">Add Unit
                <i class="material-icons right">cloud_upload</i>
            </button>
        </form>
    </div>
    </@layout.myLayout>