
<p>Use this form to add information about an individual unit in a parent unit. Each unit has some general description
, amenities and price info. In addition, you can add one or more photos of the unit</p>

<div class="card-panel hoverable">
<div class="row">
    <!--First column-->
    <div class="col s6">
        <input type="text" id="uname" class="form-control validate" name="unitHeading">
        <label for="unitHeading" data-error="wrong" data-success="right">Unit Title</label>
    </div>
    <div class="col s6">
        <input type="text" id="postedby" class="form-control validate" name="postedBy">
        <label for="postedby" data-error="wrong" data-success="right">Posted By</label>
    </div>
</div>

<div class="row">
    <div class="input-field col s6">
        <i class="fa fa-pencil prefix"></i>
        <textarea id="unitDesc" class="materialize-textarea" name="unitDescription"></textarea>
        <label for="unitDesc">Unit Description</label>
    </div>
    <div class="input-field col s3">
        <select name="rentalType">
            <option value="" disabled selected>Rental type</option>
            <option value="SHORT_TERM">SHORT TERM</option>
            <option value="LONG_TERM">LONG TERM</option>
        </select>
    </div>
        <div class="input-field col s3">
  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add Images</a>
    </div>
</div>

<div class="row">
    <div class="input-field col s3">
        <select id="unittype" name="unitType">
            <option value="" disabled selected>Choose Unit Type</option>
            <option value="APARTMENT">APARTMENT</option>
            <option value="CONDO">CONDO</option>
            <option value="VILLA">VILLA</option>
            <option value="BUNGALOW">BUNGALOW</option>
            <option value="CONVERTIBLE">CONVERTIBLE</option>
            <option value="STUDIO">STUDIO</option>
            <option value="DUPLEX">DUPLEX</option>
            <option value="PENTHOUSE">TRIPLEX</option>
            <option value="3">PENTHOUSE</option>
            <option value="LOFT">LOFT</option>
        </select>
    </div>
    <div class="input-field col s3">
        <select id="privacy" name="privacy">
            <option value="" disabled selected>Choose Privacy</option>
            <option value="ENTIRE_HOME">ENTIRE_HOME</option>
            <option value="SHARED_ROOM">SHARED_ROOM</option>
            <option value="PRIVATE_ROOM">PRIVATE_ROOM</option>
        </select>
    </div>
    <div class="input-field col s3">
        <select id="furnishingtype" name="furnishingType">
            <option value="" disabled selected>Choose furnishing type</option>
            <option value="FURNISHED">FURNISHED</option>
            <option value="SEMI_FURNISHED">SEMI_FURNISHED</option>
            <option value="UNFURNISHED">UNFURNISHED</option>
        </select>
    </div>
    <div class="col s3">
        <label >
            <input type="checkbox" class="filled-in" id="activeunit" name="active">
            <span>Active</span>
        </label>
    </div>
</div>

<div class="row">
    <div class="range-field col s4">
        <input type="range" min="0" max="10" id="numOfBedrooms"  name="numOfBedrooms">
        <label for="numOfBedrooms" >No. of bedrooms</label>
    </div>
    <div class="range-field col s4">
        <input type="range" min="0" max="10" id="numOfBathrooms"  name="numOfBathrooms">
        <label for="numOfBathrooms" >No. of bathrooms</label>
    </div>
    <div class="range-field col s4"> 
        <input type="range" min="0" max="10" id="numOfBalconies"  name="numOfBalconies">
        <label for="numOfBalconies">No of balconies</label>
    </div>
</div>

<div class="row">
    <div class="range-field col s4">
        <input type="range" id="unitNumber" min="0" max="100"  name="unitNumber">
        <label for="unitNumber" >Unit Number</label>
    </div>
    <div class="range-field col s4">
        <div class="md-form">
            <input type="range" min="0" max="100" id="unitFloorNumber"  name="unitFloorNumber">
            <label for="unitFloorNumber">Unit Floor Number</label>
        </div>
    </div>
    <div class="range-field col s4">
      <input type="range"  min="0" max="5" id="stuff" name="stuff">
        <label for="stuff" data-error="wrong" data-success="right">No. of Parkings</label>
    </div>
</div>

<div class="row">

    <div class="col s6">
        <input placeholder="Selected date" type="text" id="postdate" class="datepicker" name="postDate">
        <label for="postdate">Date of posting</label>
    </div>

    <div class="col s6">
        <input placeholder="Selected date" type="text" id="availdate" class="datepicker" name="availableFrom">
        <label for="availdate">Date Available from</label>
    </div>

</div>
</div>
<div class="card-panel hoverable">
    <h5>Amenities</h5>  
    <div class="row">
        <div class="col s3">
            <label>
                <input type="checkbox" class="filled-in" name="hasAirConditioning">
                <span>AC</span> 
            </label>
        </div>
        <div class="col s3">
            <label>
                <input type="checkbox" class="filled-in" name="hasEnsuiteBathroom">
                <span>Ensuite bathroom</span> 
            </label>
        </div>
        <div class="col s3">
            <label>
                <input type="checkbox" class="filled-in" name="hasCarpet">
                <span>Carpet</span> 
            </label>
        </div>
        <div class="col s3">
            <label>
                <input type="checkbox" class="filled-in" name="hasFirePlace">
                <span>Fireplace</span> 
            </label>
        </div>
    </div>
    <div class="row">
        <!--First column-->
        <div class="col s3">
            <label>
                <input type="checkbox" class="filled-in" name="petsAllowed">
                <span>Pets allowed</span> 
            </label>
        </div>
        <div class="col s3">
            <label>
                <input type="checkbox" class="filled-in" name="hasWalkinCloset">
                <span>Walkin Closet</span> 
            </label>
        </div>
        <div class="col s3">
            <label>
                <input type="checkbox" class="filled-in" name="hasInUnitLandry">
                <span>In unit laundry</span> 
            </label>
        </div>
        <div class="col s3">
            <label>
                <input type="checkbox" class="filled-in" name="hasInUnitGarden">
                <span>In unit garden</span> 
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            <label>
                <input type="checkbox" class="filled-in" name="hasCeilingFanCooling">
                <span>Ceiling Fan</span> 
            </label>
        </div>
        <div class="col s3">
            <label>
                <input type="checkbox" class="filled-in" name="hasTV">
                <span>TV</span> 
            </label>
        </div>
        <div class="col s3">
            <label>
                <input type="checkbox" class="filled-in" name="hasKitchen">
                <span>Kitchen</span> 
            </label>
        </div>
        <div class="col s3">
            <label>
                <input type="checkbox" class="filled-in" name="hasInUnitWifi">
                <span>In unit WIFI</span> 
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            <label>
                <input type="checkbox" class="filled-in" name="hasRefridgerator">
                <span>Fridge</span> 
            </label>
        </div>
        <div class="col s3">
            <label>
                <input type="checkbox" class="filled-in" name="hasFireplace">
                <span>Fireplace</span> 
            </label>
        </div>
        <div class="col s3">
            <label>
                <input type="checkbox" class="filled-in" name="hasDishwasher">
                <span>Dishwasher</span> 
            </label>
        </div>
        <div class="col s3">
            <label>
                <input type="checkbox" class="filled-in" name="hasInUnitGym">
                <span>In unit Gym</span> 
            </label>
        </div>
    </div>
</div>
<div class="card-panel hoverable">
    <h5>Price Info</h5> 
    <div class="row">

        <div class="input-field col s4">
            <select name="currencyType">
                <option value="" disabled selected>Choose curreny type</option>
                <option value="DOLLAR">DOLLAR</option>
                <option value="SHILLINGS">SHILLINGS</option>
                <option value="SHILLINGS">EUROS</option>
            </select>
        </div>
        <div class="input-field col s4">

        </div>
        <div class="col s4">

        </div>
    </div> 
    <div class="row">
        <div class="range-field col s4">
            <input type="range" id="shortTermRentalPrice" min="0" max="100"  name="shortTermRentalPrice"/>
            <label for="shortTermRentalPrice" data-error="wrong" data-success="right">Short term rental price</label>
        </div>
        <div class="range-field col s4">
            <input type="range" id="longTermRentalPrice" min="0" max="100" name="longTermRentalPrice"/>
            <label for="longTermRentalPrice" data-error="wrong" data-success="right">Long term rental price</label>
        </div>
        <div class="range-field col s4">
            <input type="range" id="cancellationFee" min="0" max="100" name="cancellationFee"/>
            <label for="cancellationFee" data-error="wrong" data-success="right">Cancellation fee</label>

        </div>
    </div>
    <div class="row">
        <div class="range-field col s4">
            <input type="range" id="adminFee" min="0" max="100" name="adminFee"/>
            <label for="adminFee" data-error="wrong" data-success="right">Per extra guest charge</label>
        </div>

        <div class="range-field col s4">
            <input type="range" id="test5" min="0" max="100" />
            <label for="form82" data-error="wrong" data-success="right">Administration fee</label>
        </div>
        <div class="range-field col s4">
            <input type="range" id="securityDeposit" min="0" max="100" name="securityDeposit"/>
            <label for="securityDeposit" data-error="wrong" data-success="right">Security Deposit</label>
        </div>
    </div>

    <div class="row">

        <div class="col s3">
            <label>
                <input type="checkbox" class="filled-in" name="subleasingAllowed">
                <span> Subleasing allowedd</span>
            </label>

        </div>

        <div class="col s3">
            <label >
                <input type="checkbox" class="filled-in" name="cancellationAllowed">
                <span>  Cancellation allowedd</span></label>

        </div>
        <div class="col s3">
            <label >
                <input type="checkbox" class="filled-in" name="includeMeals">
                <span>  Meals included in priced</span></label>

        </div>
        <div class="col s3">
            <label>
                <input type="checkbox" class="filled-in" name="childDiscount">
                <span> Child discount included</span>
            </label>

        </div>
    </div>

</div> 
<!--div class="text-center">
    <button class="btn-floating peach-gradient btn-lg"  onclick="M.toast({html: 'I am a toast'})">Add</button>
</div-->
<button class="btn waves-effect waves-light right" type="submit">Add Unit
    <i class="material-icons right">cloud_upload</i>
</button>
