<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page"> 
<div class="row">

    <div id="test2" class="col s12">
        <form method="post" action="/api/units/add">
            <div class="card-panel hoverable">
                <h5 class="center-align">Vibanda Unit</h5>
                <div class="row">
                    <div class="input-field col s6">
                        <select name="unitParent" id="unitparent">
                            <option value="" disabled selected>Unit belongs to: </option>
                            <#list data.parentUnits?keys as id>
                            <option value="${id}" class="circle" >${data.parentUnits[id].unitName}</option>
                            </#list>
                        </select>
                        <label>Parent property</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" id="uname" class="form-control validate" name="unitHeading">
                        <label for="uname" data-error="wrong" data-success="right">Unit Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">

                        <textarea id="unitDesc" class="materialize-textarea" name="unitDescription"></textarea>
                        <label for="unitDesc">Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s3">
                        <select id="unittype" name="unitType">
                            <option value="" disabled selected>Unit type</option>
                            <option value="junior">JUNIOR</option>
                            <option value="luxury">LUXURY</option>
                            <option value="loft">LOFT</option>
                            <option value="convertible">CONVERTIBLE</option>
                            <option value="studio">STUDIO</option>
                            <option value="duplex">DUPLEX</option>
                            <option value="triplex">TRIPLEX</option>
                            <option value="penthouse">PENTHOUSE</option>
                            <option value="garden">GARDEN</option>
                        </select>
                    </div>
                    <div class="input-field col s3">
                        <select id="privacy" name="privacy">
                            <option value="" disabled selected>Choose privacy</option>
                            <option value="Entire Home">ENTIRE HOME</option>
                            <option value="shared Room">SHARED ROOM</option>
                            <option value="Private Room">PRIVATE ROOM</option>
                        </select>
                    </div>
                    <div class="input-field col s3">
                        <select id="furnishingtype" name="furnishingType">
                            <option value="" disabled selected>Furnishing</option>
                            <option value="Fully Furnished">FURNISHED</option>
                            <option value="Semi Furnished">SEMI_FURNISHED</option>
                        </select>
                    </div>
                    <div class="input-field col s3">
                        <select name="rentalType">
                            <option value="" disabled selected>Rental period</option>
                            <option value="long term">SHORT TERM</option>
                            <option value="short term">LONG TERM</option>
                        </select>
                    </div>

                </div>


                <div class="row">
                    <div class="range-field col s3">
                        <input type="range" id="unitNumber" min="0" max="100"  name="unitNumber">
                        <label for="unitNumber" >No. of units</label>
                    </div>
                    <div class="range-field col s3">
                        <div class="md-form">
                            <input type="range" min="0" max="100" id="beds"  name="beds">
                            <label for="beds">No. of beds</label>
                        </div>
                    </div>
                    <div class="range-field col s3">
                        <input type="range" min="0" max="25" id="numOfBedrooms"  name="numOfBedrooms">
                        <label for="numOfBedrooms" >Bedrooms</label>
                    </div>
                    <div class="range-field col s3">
                        <input type="range" min="0" max="25" id="numOfBathrooms"  name="numOfBathrooms">
                        <label for="numOfBathrooms" >Bathrooms</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s2">
                        <input type="checkbox" class="filled-in" id="activeunit" name="active">
                        <label for="activeunit">   Active </label>
                    </div>
                    <div class="range-field col s4">

                    </div>
                </div>
                <div class="row">

                    <div class="col s6">
                        <input placeholder="Date of posting" type="text" id="postdate" class="datepicker" name="postDate">
            
                    </div>

                    <div class="col s6">
                        <input placeholder="Date available" type="text" id="availdate" class="datepicker" name="availableFrom">

                    </div>
                    <div class="col s6">
                        <input type="text" class="timepicker" placeholder="Checkin time" id="checkintime" name="checkintime">
                    </div>

                    <div class="col s6">
                        <input placeholder="Checkout time" type="text" id="checkoutime" class="timepicker" name="checkoutime">
                    </div>
                </div>

                <h6>Amenities</h6>  
                <div class="row">
                    <div class="col s3">
                        <input type="checkbox" class="filled-in" name="hasAirConditioning" id="hasAirConditioning">
                        <label for="hasAirConditioning">AC
                        </label>
                    </div>
                    <div class="col s3">
                        <input type="checkbox" class="filled-in" name="hasEnsuiteBathroom" id="hasEnsuiteBathroom">
                        <label for="hasEnsuiteBathroom">Ensuite bathroom
                        </label>
                    </div>
                    <div class="col s3">
                        <input type="checkbox" class="filled-in" name="hasCarpet">
                        <label>Carpet
                        </label>
                    </div>
                    <div class="col s3">

                        <input type="checkbox" class="filled-in" name="hasFirePlace">
                        <label>Fireplace
                        </label>
                    </div>
                </div>
                <div class="row">
                    <!--First column-->
                    <div class="col s3">

                        <input type="checkbox" class="filled-in" name="petsAllowed" id="petsAllowed">
                        <label for="petsAllowed"> Pets allowed 
                        </label>
                    </div>
                    <div class="col s3">

                        <input type="checkbox" class="filled-in" name="hasWalkinCloset" id="hasWalkinCloset">
                        <label for="hasWalkinCloset">Walk-in Closet
                        </label>
                    </div>
                    <div class="col s3">

                        <input type="checkbox" class="filled-in" name="hasInUnitLandry" id="hasInUnitLandry">
                        <label for="hasInUnitLandry">In unit laundry
                        </label>
                    </div>
                    <div class="col s3">

                        <input type="checkbox" class="filled-in" name="hasInUnitGarden" id="hasInUnitGarden">
                        <label for="hasInUnitGarden">In unit garden
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s3">

                        <input type="checkbox" class="filled-in" name="hasCeilingFanCooling" id="hasCeilingFanCooling">
                        <label for="hasCeilingFanCooling">Ceiling Fan
                        </label>
                    </div>
                    <div class="col s3">

                        <input type="checkbox" class="filled-in" name="hasTV" id="hasTV">
                        <label for="hasTV">TV
                        </label>
                    </div>
                    <div class="col s3">

                        <input type="checkbox" class="filled-in" name="hasKitchen" id="hasKitchen">
                        <label for="hasKitchen"> Kitchen
                        </label>
                    </div>
                    <div class="col s3">

                        <input type="checkbox" class="filled-in" name="hasInUnitWifi" id="hasInUnitWifi">
                        <label for="hasInUnitWifi">    In unit WIFI
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s3">

                        <input type="checkbox" class="filled-in" name="hasRefridgerator" id="hasRefridgerator">
                        <label for="hasRefridgerator">   Fridge</label>

                    </div>
                    <div class="col s3">

                        <input type="checkbox" class="filled-in" name="hasFireplace" id="hasFireplace">
                        <label for="hasFireplace">   Fireplace
                        </label>
                    </div>
                    <div class="col s3">

                        <input type="checkbox" class="filled-in" name="hasDishwasher" id="hasDishwasher">
                        <label for="hasDishwasher">    Dishwasher
                        </label>
                    </div>
                    <div class="col s3">

                        <input type="checkbox" class="filled-in" name="hasInUnitGym" id="hasInUnitGym">
                        <label for="hasInUnitGym"> In unit Gym
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s3">
                        <input type="checkbox" id="wifi" name="wifi" >
                        <label for="wifi"> Internet/Wifi
                        </label>
                    </div>
                    <div class="col s3">
                        <input type="checkbox" id="cable" name="cable" >
                        <label for="cable">   DSTV</label>
                    </div>
                    <div class="col s3">
                        <input type="checkbox" id="fitnesscentre" name="fitnessCentre" >
                        <label for="fitnesscentre">   <span>Gym</span>
                        </label>
                    </div>
                    <div class="col s3">
                        <input type="checkbox" id="swimmingpool" name="swimmingPool" >
                        <label for="swimmingpool">    <span>Pool</span>
                        </label>
                    </div>
                </div> 
                <div class="row">
                    <div class="col s3">
                        <input type="checkbox" id="laundry" name="laundry" >
                        <label for="laundry">    <span>Laundry services</span>
                        </label>
                    </div>
                    <div class="col s3">
                        <input type="checkbox" id="wheelchairaccessibility" name="wheelchairAccessibility" >
                        <label for="wheelchairaccessibility">    <span>Disabled access</span>
                        </label>
                    </div>
                    <div class="col s3">
                        <input type="checkbox" id="intercomfacilities" name="intercomFacilities" >
                        <label for="intercomfacilities">     <span>Intercom system</span>
                        </label>
                    </div>
                    <div class="col s3">
                        <input type="checkbox" id="power_backup" name="powerBackup" >
                        <label for="power_backup">      <span>Power Backup</span>
                        </label>
                    </div>
                </div> 
                <div class="row">
                    <div class="col s3">
                        <input type="checkbox" id="perimeterWall" name="perimeterWall" >
                        <label for="perimeterWall">      <span>Security parameter wall</span>
                        </label>
                    </div>
                    <div class="col s3">
                        <input type="checkbox" id="maindoorsecurity" name="mainDoorSecurity" >
                        <label for="maindoorsecurity">    <span>Main Door Security</span>
                        </label>
                    </div>
                    <div class="col s3">
                        <input type="checkbox" id="lift" name="lift" >
                        <label for="lift">        <span>Lift</span>
                        </label>
                    </div>
                    <div class="col s3">

                    </div>
                </div> 

                <h6>Price Info</h6> 
                <div class="row">
                    <div class="range-field col s4">
                        <input type="range" id="shortTermRentalPrice" min="0" max="100"  name="shortTermRentalPrice"/>
                        <label for="shortTermRentalPrice" data-error="wrong" data-success="right">Short term rental price</label>
                    </div>
                    <div class="range-field col s4">
                        <input type="range" id="longTermRentalPrice" min="0" max="100" name="longTermRentalPrice"/>
                        <label for="longTermRentalPrice" data-error="wrong" data-success="right">Long term rental price</label>
                    </div>
                    <div class="range-field col s4">
                        <input type="range" name="childDiscount" min="0" max="100" id="childDiscount">
                        <label for="childDiscount">Child discount(%)</label>
                    </div>
                </div>
                <div class="row">
                    <div class="range-field col s4">
                        <input type="range" id="extraCharge" min="0" max="10000" name="extraCharge"/>
                        <label for="extraCharge" data-error="wrong" data-success="right">Per extra guest charge</label>
                    </div>
                    <div class="range-field col s4">
                        <input type="range" id="serviceFee" min="0" max="10000" name="serviceFee" />
                        <label for="serviceFee" data-error="wrong" data-success="right">Service fee</label>
                    </div>
                    <div class="range-field col s4">
                        <input type="range" id="securityDeposit" min="0" max="10000" name="securityDeposit"/>
                        <label for="securityDeposit" data-error="wrong" data-success="right">Security Deposit</label>
                    </div>
                </div>          
                <div class="row">
                  
                    <div class="input-field col s6">
                        <select name="currencyType">
                            <option value="" disabled selected>Currency</option>
                            <option value="Dollars">USD</option>
                            <option value="Shillings">KSH</option>
                            <option value="Euros">EUR</option>
                        </select>
                    </div>  
                    <div class="col s6">
                        <input type="checkbox" class="filled-in" name="includeMeals" id="includeMeals">
                        <label for="includeMeals">Price include meals</label>
                    </div>
                </div> 
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="cancellationPolicy" class="materialize-textarea" name="cancellationPolicy" maxlength="1000"></textarea>
                        <label for="cancellationPolicy" >Cancellation Policy</label>
                    </div> 
                </div>

            </div>

            <!--div class="text-center">
                <button class="btn-floating peach-gradient btn-lg"  onclick="M.toast({html: 'I am a toast'})">Add</button>
            </div-->
            <button class="btn waves-effect waves-light right" type="submit" onclick="M.toast({html: '${data.msg!Added}'})">Add Unit
                <i class="material-icons right">cloud_upload</i>
            </button>
        </form>
    </div>
    </@layout.myLayout>